<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lxy.android.com.binderdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".demo2.client.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".demo2.server.PersonService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl2" />
        <service
            android:name=".demo1.server.BookService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl1" />

        <activity android:name=".demo1.client.SecondActivity"/>
    </application>

</manifest>